<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Формы</title>
</head>
<body>
    <h1>Форма для заполнения</h1>
    <table border = 0>
        <form action="{%url 'reverse' %}">
            <tr>
                <td>Логин</td>
                <td>
                    <input type = "text" name "login" value = "">
                </td>
            </tr>
            <tr>
                <td>Пароль</td>
                <td>
                    <input type = "password" name "pass" value = "">
                </td>
            </tr>
            <tr>
                <td>Электронная почта</td>
                <td>
                    <input type = "text" name "email" value = "">
                </td>
            </tr>
            <tr>
                <td>Страна</td>
                <td>
                <select name = "Выбор">
                    <option value="1">Россия</option>
                    <option value="2">Казахстан</option>
                    <option value="3">Китай</option>
                    <option value="4">Грузия</option>
                </select>
            </td>
            </tr>
            <tr>
                <td>Доп. информация</td>
                <td>
                    <textarea name="usertext" cols="35" rows="10">
                        
                    </textarea>
                </td>
            </tr>
            <tr>
                <td>Гражданство Грузии</td> <br>
                <td>
                    <input type = "radio" value = "true" name = "o">Имеется <br>
                    <input type = "radio" value = "false" name = "o">Отсутствует <br>
                </td>
            </tr>
            <tr>     
                <td><b>Подписаться на рассылку</b></td>
                <td>
                    <input type = "checkbox" value = "sendd" name = "emailsd"><br>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Reverse!"></td>
            </tr>
        </form>
    </table>
</body>
</html>